<%- include('partials/header') %>

  <div class="starter-template">
    <h1>Project CRUD</h1>
    <p class="lead">
      This project use a simple registration of people for apply CRUD  <br> 
      CRUD = <b>C</b>reate-<b>R</b>ead-<b>U</b>pdate-<b>D</b>elete <br>    
    </p>
    <a class="btn btn-primary" href="/pessoas/create">Add New Person</a>
    <a class="btn btn-primary" href="/pessoas">List of People</a>
  </div>

  <%- include('partials/footer') %>
