<%- include('partials/header.ejs') %>

  <div class="starter-template">
    <h1>Project CRUD with ORM</h1>
    <p class="lead">
      This project use a simple registration of people for apply CRUD with ORM <br> 
      CRUD = <b>C</b>reate-<b>R</b>ead-<b>U</b>pdate-<b>D</b>elete <br> 
      ORM = <b>O</b>bject-<b>R</b>elational <b>M</b>apping      
    </p>
    <a class="btn btn-primary" href="/pessoas/create">Add New Person</a>
    <a class="btn btn-primary" href="/pessoas">List of People</a>
  </div>

  <%- include('partials/footer.ejs') %>